<script setup lang="ts">
import { RouterLink, RouterView } from 'vue-router'
</script>

<template>
  <header class="">
    <nav class="container hidden items-center justify-between py-8 md:flex">
      <a href="/">
        <h1 class="group flex cursor-pointer items-center gap-2 font-heavy text-4xl text-blue-1 hover:text-blue-2">
          <img src="./resources/title-arrow.svg" alt="arrow" class="hidden h-[1.1ch] group-hover:block">
          Klaar voor de start
        </h1>
      </a>
      <img src="./resources/vng-logo.svg" class="w-24" alt="Logo">
    </nav>  <!-- mobile header -->
    <nav class="md:hidden">
      <div class="container relative flex items-center justify-center border-b border-gray-1 py-4">
        <button class="menu-button absolute left-4">
          <img src="./resources/mobile-menu.svg" class="w-7" alt="Logo">
        </button>
        <img src="./resources/vng-logo.svg" class="w-16 self-center" alt="Logo">
      </div>
      <a href="/">
        <h1 class="group my-3 flex cursor-pointer items-center justify-center gap-2 font-heavy text-2xl text-blue-1 hover:text-blue-2">
          <img src="./resources/title-arrow.svg" alt="arrow" class="hidden h-[1.1ch] group-hover:block">
          Klaar voor de start
        </h1>
      </a>
      <div class="sidebar fixed inset-y-0 left-[-200%] z-10 w-screen bg-white py-5 text-blue-1 transition-all duration-300">
        <button class="close-button absolute right-6">
          <img src="./resources/mobile-close-menu.svg" class="w-6" alt="Logo">
        </button>
        <ul class="mt-16">
          <li>
            <a href="#" class="border-gray-1 font-heavy hover:bg-blue-1 block py-2 px-6 uppercase hover:text-white">
              Startpagina &amp; Dashboard
            </a>
          </li><li>
            <a href="#" class="border-gray-1 font-heavy hover:bg-blue-1 block py-2 px-6 uppercase hover:text-white">
              Dienstverlening
            </a>
          </li><li>
            <a href="#" class="border-gray-1 font-heavy hover:bg-blue-1 block py-2 px-6 uppercase hover:text-white">
              Technologie
            </a>
          </li><li>
            <a href="#" class="border-gray-1 font-heavy hover:bg-blue-1 block py-2 px-6 uppercase hover:text-white">
              Processen
            </a>
          </li><li>
            <a href="#" class="border-gray-1 font-heavy hover:bg-blue-1 block py-2 px-6 uppercase hover:text-white">
              Ketensamenwerking
            </a>
          </li><li>
            <a href="#" class="border-gray-1 font-heavy hover:bg-blue-1 block py-2 px-6 uppercase hover:text-white">
              Mens
            </a>
          </li><li>
            <a href="#" class="border-gray-1 font-heavy hover:bg-blue-1 block py-2 px-6 uppercase hover:text-white">
              Financiën
            </a>
          </li><li>
            <a href="#" class="border-gray-1 font-heavy hover:bg-blue-1 block py-2 px-6 uppercase hover:text-white">
              Omgevingsplan
            </a>
          </li><li>
            <a href="#" class="border-gray-1 font-heavy hover:bg-blue-1 block py-2 px-6 uppercase hover:text-white">
              Omgevingsvisie en programma&#39;s
            </a>
          </li><li>
            <a href="#" class="border-gray-1 font-heavy hover:bg-blue-1 block py-2 px-6 uppercase hover:text-white">
              Bestuurlijk
            </a>
          </li><li>
            <a href="#" class="border-gray-1 font-heavy hover:bg-blue-1 block py-2 px-6 uppercase hover:text-white">
              Over deze tool
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <main class="">
    <div style="background-image:url('/resources/home-hero.jpg')" class="relative h-96 bg-cover bg-center bg-no-repeat">
  <div class="absolute inset-x-0 bottom-16">
    <div class="absolute inset-0 bg-blue-2 opacity-50"></div>
    <div class="container relative py-5 text-3xl lg:text-4xl font-bold !leading-normal text-white md:py-2">
      <p class="max-w-2xl">
        Check of uw gemeente klaar is voor de Omgevings&shy;wet en de Wkb
      </p>
    </div>
  </div>
</div>
    <div class="notification my-12 px-4">
  <div class="container relative rounded-lg bg-yellow py-5 !px-5 md:!px-8 md:py-8">
    <h2 class="mb-6 text-xl font-bold">
      Exporteren afgerond
      
    </h2>
    <p class="max-w-6xl">
      Uw antwoorden zijn opgeslagen in de pdf. U kunt de pdf hieronder weer importeren om verder te gaan met invullen of aanpassen. Of vraag een collega om verder te gaan.
      
    </p>
    <button class="absolute top-5 right-5">
      <img src="./resources/close-notification.svg" alt="close" class="w-4 md:w-5">
    </button>
  </div>
</div>
    <div class="container my-16 grid gap-x-20 gap-y-16 md:grid-cols-2">
  <div class="flex h-full flex-1 flex-col items-start">
    <h2 class="text-2xl font-bold md:text-3xl">Waar staat u?</h2>
    <p class="mt-7 mb-8">
      Bent u goed voorbereid op de Omgevingswet en de Wkb? Met deze tool brengt
      u in kaart waar uw gemeente staat en wat u nog moet doen. Op inhoud,
      techniek en organisatie. Lees meer <a href="/over-deze-tool" class="text-blue-1 underline">over deze tool.</a>
    </p>
    <button class="px-6 text-lg py-3 text-left flex justify-between gap-x-4 group transition-all items-center bg-blue-2 rounded-r-full text-white mt-auto">
  
  Start bij het eerste thema : Dienstverlening
  <img src="./resources/button-arrow-white.svg" alt="arrow" class="md:hidden w-6 group-hover:block">
</button>
  </div>

  <div class="flex h-full flex-1 flex-col items-start">
    <h2 class="text-2xl font-bold md:text-3xl">Hoe werkt het?</h2>
    <p class="mt-7 mb-8">
      Er zijn 9 thema's met elk circa 10 stellingen. Per stelling geeft u de
      voortgang aan en eventuele acties die u wilt doen. De resultaten kunt u
      exporteren als pdf. U kunt ook tussentijds exporteren. Importeer de pdf
      hieronder om verder te gaan waar u gebleven was. Of vraag een collega om
      verder te gaan.
    </p>
    <button class="px-6 text-lg py-3 text-left flex justify-between gap-x-4 group transition-all items-center bg-blue-2 rounded-r-full text-white mt-auto">
  
  Importeer een eerder gemaakt rapport
  <img src="./resources/button-arrow-white.svg" alt="arrow" class="md:hidden w-6 group-hover:block">
</button>
  </div>
</div>
    <div class="bg-blue-3 py-8">
  <div class="container flex flex-wrap gap-4 items-center justify-between">
    <span class="text-3xl md:text-4xl font-bold text-white"> Dashboard</span>
    <button class="px-6 text-lg py-3 text-left flex justify-between gap-x-4 group transition-all items-center rounded-r-full bg-white ml-auto text-blue-1">
  <img src="./resources/icon-export.svg" alt="export" class="w-4">
  Exporteer
  <img src="./resources/button-arrow-blue.svg" alt="arrow" class="md:hidden w-6 group-hover:block">
</button>
  </div>
</div>
    <div class="container mt-12 mb-16 grid sm:grid-cols-2 md:grid-cols-3 gap-6">
  <a href="#" class="group relative bg-blue-3 p-5 hover:bg-blue-2">
  <img src="./resources/button-arrow-white.svg" alt="arrow" class="absolute right-5 top-1/2 hidden w-7 group-hover:block">
  <div class="flex items-start">
    <img src="./resources/theme-icon-dienstverlening-white.svg" alt="theme icon" class="mr-4 w-10">
    <h3 class="text-2xl font-bold text-white">Dienstverlening</h3>
  </div>
  <div class="mt-10 flex gap-2">
    <span class="block h-5 w-5 rounded-full border-2 bg-blue-1 !border-none"></span><span class="block h-5 w-5 rounded-full border-2 border-blue-2 bg-white"></span><span class="block h-5 w-5 rounded-full border-2 border-blue-2 bg-white"></span><span class="block h-5 w-5 rounded-full border-2 bg-blue-1 !border-none"></span><span class="block h-5 w-5 rounded-full border-2 border-blue-2 bg-white"></span><span class="block h-5 w-5 rounded-full border-2 border-blue-2 bg-white"></span><span class="block h-5 w-5 rounded-full border-2 bg-blue-1 !border-none"></span>
  </div>
</a><a href="#" class="group relative bg-blue-3 p-5 hover:bg-blue-2">
  <img src="./resources/button-arrow-white.svg" alt="arrow" class="absolute right-5 top-1/2 hidden w-7 group-hover:block">
  <div class="flex items-start">
    <img src="./resources/theme-icon-technologie-white.svg" alt="theme icon" class="mr-4 w-10">
    <h3 class="text-2xl font-bold text-white">Technologie</h3>
  </div>
  <div class="mt-10 flex gap-2">
    <span class="block h-5 w-5 rounded-full border-2 bg-blue-1 !border-none"></span><span class="block h-5 w-5 rounded-full border-2 border-blue-2 bg-white"></span><span class="block h-5 w-5 rounded-full border-2 border-blue-2 bg-white"></span><span class="block h-5 w-5 rounded-full border-2 bg-blue-1 !border-none"></span><span class="block h-5 w-5 rounded-full border-2 border-blue-2 bg-white"></span><span class="block h-5 w-5 rounded-full border-2 border-blue-2 bg-white"></span><span class="block h-5 w-5 rounded-full border-2 bg-blue-1 !border-none"></span>
  </div>
</a><a href="#" class="group relative bg-blue-3 p-5 hover:bg-blue-2">
  <img src="./resources/button-arrow-white.svg" alt="arrow" class="absolute right-5 top-1/2 hidden w-7 group-hover:block">
  <div class="flex items-start">
    <img src="./resources/theme-icon-processen-white.svg" alt="theme icon" class="mr-4 w-10">
    <h3 class="text-2xl font-bold text-white">Processen</h3>
  </div>
  <div class="mt-10 flex gap-2">
    <span class="block h-5 w-5 rounded-full border-2 bg-blue-1 !border-none"></span><span class="block h-5 w-5 rounded-full border-2 border-blue-2 bg-white"></span><span class="block h-5 w-5 rounded-full border-2 border-blue-2 bg-white"></span><span class="block h-5 w-5 rounded-full border-2 bg-blue-1 !border-none"></span><span class="block h-5 w-5 rounded-full border-2 border-blue-2 bg-white"></span><span class="block h-5 w-5 rounded-full border-2 border-blue-2 bg-white"></span><span class="block h-5 w-5 rounded-full border-2 bg-blue-1 !border-none"></span>
  </div>
</a><a href="#" class="group relative bg-blue-3 p-5 hover:bg-blue-2">
  <img src="./resources/button-arrow-white.svg" alt="arrow" class="absolute right-5 top-1/2 hidden w-7 group-hover:block">
  <div class="flex items-start">
    <img src="./resources/theme-icon-ketensamenwerking-white.svg" alt="theme icon" class="mr-4 w-10">
    <h3 class="text-2xl font-bold text-white">Ketensamenwerking</h3>
  </div>
  <div class="mt-10 flex gap-2">
    <span class="block h-5 w-5 rounded-full border-2 bg-blue-1 !border-none"></span><span class="block h-5 w-5 rounded-full border-2 border-blue-2 bg-white"></span><span class="block h-5 w-5 rounded-full border-2 border-blue-2 bg-white"></span><span class="block h-5 w-5 rounded-full border-2 bg-blue-1 !border-none"></span><span class="block h-5 w-5 rounded-full border-2 border-blue-2 bg-white"></span><span class="block h-5 w-5 rounded-full border-2 border-blue-2 bg-white"></span><span class="block h-5 w-5 rounded-full border-2 bg-blue-1 !border-none"></span>
  </div>
</a><a href="#" class="group relative bg-blue-3 p-5 hover:bg-blue-2">
  <img src="./resources/button-arrow-white.svg" alt="arrow" class="absolute right-5 top-1/2 hidden w-7 group-hover:block">
  <div class="flex items-start">
    <img src="./resources/theme-icon-mens-white.svg" alt="theme icon" class="mr-4 w-10">
    <h3 class="text-2xl font-bold text-white">Mens</h3>
  </div>
  <div class="mt-10 flex gap-2">
    <span class="block h-5 w-5 rounded-full border-2 bg-blue-1 !border-none"></span><span class="block h-5 w-5 rounded-full border-2 border-blue-2 bg-white"></span><span class="block h-5 w-5 rounded-full border-2 border-blue-2 bg-white"></span><span class="block h-5 w-5 rounded-full border-2 bg-blue-1 !border-none"></span><span class="block h-5 w-5 rounded-full border-2 border-blue-2 bg-white"></span><span class="block h-5 w-5 rounded-full border-2 border-blue-2 bg-white"></span><span class="block h-5 w-5 rounded-full border-2 bg-blue-1 !border-none"></span>
  </div>
</a><a href="#" class="group relative bg-blue-3 p-5 hover:bg-blue-2">
  <img src="./resources/button-arrow-white.svg" alt="arrow" class="absolute right-5 top-1/2 hidden w-7 group-hover:block">
  <div class="flex items-start">
    <img src="./resources/theme-icon-financien-white.svg" alt="theme icon" class="mr-4 w-10">
    <h3 class="text-2xl font-bold text-white">Financiën</h3>
  </div>
  <div class="mt-10 flex gap-2">
    <span class="block h-5 w-5 rounded-full border-2 bg-blue-1 !border-none"></span><span class="block h-5 w-5 rounded-full border-2 border-blue-2 bg-white"></span><span class="block h-5 w-5 rounded-full border-2 border-blue-2 bg-white"></span><span class="block h-5 w-5 rounded-full border-2 bg-blue-1 !border-none"></span><span class="block h-5 w-5 rounded-full border-2 border-blue-2 bg-white"></span><span class="block h-5 w-5 rounded-full border-2 border-blue-2 bg-white"></span><span class="block h-5 w-5 rounded-full border-2 bg-blue-1 !border-none"></span>
  </div>
</a><a href="#" class="group relative bg-blue-3 p-5 hover:bg-blue-2">
  <img src="./resources/button-arrow-white.svg" alt="arrow" class="absolute right-5 top-1/2 hidden w-7 group-hover:block">
  <div class="flex items-start">
    <img src="./resources/theme-icon-omgevingsplan-white.svg" alt="theme icon" class="mr-4 w-10">
    <h3 class="text-2xl font-bold text-white">Omgevingsplan</h3>
  </div>
  <div class="mt-10 flex gap-2">
    <span class="block h-5 w-5 rounded-full border-2 bg-blue-1 !border-none"></span><span class="block h-5 w-5 rounded-full border-2 border-blue-2 bg-white"></span><span class="block h-5 w-5 rounded-full border-2 border-blue-2 bg-white"></span><span class="block h-5 w-5 rounded-full border-2 bg-blue-1 !border-none"></span><span class="block h-5 w-5 rounded-full border-2 border-blue-2 bg-white"></span><span class="block h-5 w-5 rounded-full border-2 border-blue-2 bg-white"></span><span class="block h-5 w-5 rounded-full border-2 bg-blue-1 !border-none"></span>
  </div>
</a><a href="#" class="group relative bg-blue-3 p-5 hover:bg-blue-2">
  <img src="./resources/button-arrow-white.svg" alt="arrow" class="absolute right-5 top-1/2 hidden w-7 group-hover:block">
  <div class="flex items-start">
    <img src="./resources/theme-icon-omgevingsvisie-en-programmas-white.svg" alt="theme icon" class="mr-4 w-10">
    <h3 class="text-2xl font-bold text-white">Omgevingsvisie en programma&#39;s</h3>
  </div>
  <div class="mt-10 flex gap-2">
    <span class="block h-5 w-5 rounded-full border-2 bg-blue-1 !border-none"></span><span class="block h-5 w-5 rounded-full border-2 border-blue-2 bg-white"></span><span class="block h-5 w-5 rounded-full border-2 border-blue-2 bg-white"></span><span class="block h-5 w-5 rounded-full border-2 bg-blue-1 !border-none"></span><span class="block h-5 w-5 rounded-full border-2 border-blue-2 bg-white"></span><span class="block h-5 w-5 rounded-full border-2 border-blue-2 bg-white"></span><span class="block h-5 w-5 rounded-full border-2 bg-blue-1 !border-none"></span>
  </div>
</a><a href="#" class="group relative bg-blue-3 p-5 hover:bg-blue-2">
  <img src="./resources/button-arrow-white.svg" alt="arrow" class="absolute right-5 top-1/2 hidden w-7 group-hover:block">
  <div class="flex items-start">
    <img src="./resources/theme-icon-bestuurlijk-white.svg" alt="theme icon" class="mr-4 w-10">
    <h3 class="text-2xl font-bold text-white">Bestuurlijk</h3>
  </div>
  <div class="mt-10 flex gap-2">
    <span class="block h-5 w-5 rounded-full border-2 bg-blue-1 !border-none"></span><span class="block h-5 w-5 rounded-full border-2 border-blue-2 bg-white"></span><span class="block h-5 w-5 rounded-full border-2 border-blue-2 bg-white"></span><span class="block h-5 w-5 rounded-full border-2 bg-blue-1 !border-none"></span><span class="block h-5 w-5 rounded-full border-2 border-blue-2 bg-white"></span><span class="block h-5 w-5 rounded-full border-2 border-blue-2 bg-white"></span><span class="block h-5 w-5 rounded-full border-2 bg-blue-1 !border-none"></span>
  </div>
</a>
</div>

<div class="container my-16 grid gap-x-20 gap-y-6 md:grid-cols-2">
  <div class="flex h-full flex-1 flex-col items-start">
    <h2 class="text-2xl font-bold md:text-3xl">Stellingen</h2>
    <p class="mt-7 mb-8">
      Hierboven ziet u de negen thema's verbeeld als panelen. Onderin elk paneel
      staat rij een bolletjes symbool voor de voortgang. Elke thema opent met de
      eerste stelling, aan de linkerkant ziet u dan een menu met de stellingen.
      Er is geen verplichte volgorde in het invullen. Kies een thema door een
      van de blokken aan te klikken.
    </p>
  </div>

  <div class="flex h-full flex-1 flex-col items-start">
    <h2 class="text-2xl font-bold md:text-3xl">Legenda</h2>
    <div class="mt-7 mb-8">
      <div class="mb-1 flex items-center">
        <span class="block h-5 w-5 rounded-full border-2 bg-blue-1 mr-3 border-blue-1 bg-white"></span>
        <label>Stelling is nog niet ingevuld</label>
      </div>
      <div class="flex items-center">
        <span class="block h-5 w-5 rounded-full bg-blue-1 mr-3"></span>
        <label>Stelling is ingevuld</label>
      </div>
      <!-- <div class="flex items-center">
        <img src="./resources/icon-li.svg" class={'w-5 mr-3'} />
        <label>Juridische eis</label>
      </div> -->
    </div>
  </div>
</div>
  </main>

  <RouterView />
</template>

<style scoped>
</style>
